extends layout

block content
  h1=title
  form( method= "post" , style="border:1px #bbb solid;padding:1em;width:900px")
    div
      span Title :
      input(type="text", name="title", id="editArticleTitle")
    div#editContents
      textarea( name="body", id="editArticleBody")
    div#editArticleSubmit
      input(type="submit", value="Send")

  script(type='text/javascript', src='/javascripts/ckeditor/ckeditor.js')
  script(type='text/javascript')
    CKEDITOR.replace( 'editArticleBody', { filebrowserImageUploadUrl:"/upload" , height: '600' })


